[Unit]
Description=Abpres Backend
After=syslog.target
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/java -jar /opt/abpres/abpres-{{ abpres_backend_version }}.jar
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=abpres

[Install]
WantedBy=multi-user.target
